<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=oc5j6vm8zd"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="content">
        <div id="toolbar">
            <button id="bicycle-button">자전거길</button>
        </div>
        <div id="main-content">
            <div id="search-container">
                <input type="text" id="search-input" placeholder="Search..." />
                <button id="search-button">검색</button>
            </div>

        </div>
    </div>
    <div id="map" style="width:90%;height:100%;"></div>
    <script>
        const bicycleIconUrl = "{% static 'image/bicycleicon.png' %}"
    </script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
