body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#content {
    width: 40%;
    display: flex;
    background-color: #f0f0f0;
}

#toolbar {
    width: 110px; /* 툴바의 너비 */
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

#toolbar button {
    background-color: #4CAF50; /* 녹색 계열 배경색 */
    color: #FFFFFF; /* 흰색 텍스트 색상 */
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

#search-container {
    margin-bottom: 20px;
    display: flex;
}

#search-input {
    width: calc(100% - 80px); /* 검색 버튼을 위한 여백 추가 */
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#search-button {
    width: 60px;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#map {
    width: 60%;
    height: 100%;
}

/* 검색 결과 컨테이너 스타일 */
#results-container {
    margin-top: 10px; /* 검색창과의 간격 */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-height: 300px; /* 최대 높이 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 추가 */
}

/* 검색 결과 항목 스타일 */
.result-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px; /* 둥근 모서리 */
}

.result-item:last-child {
    border-bottom: none;
}

.result-item button {
    background-color: #4CAF50; /* 녹색 계열 배경색 */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px; /* 둥근 모서리 */
    font-size: 14px;
}

.result-item button:hover {
    background-color: #45a049; /* 버튼 호버 색상 */
}
